table,
th,
td {
    border: 1px solid black;
}

table {
    table-layout: auto;
    width: 100%;
}

.h5 {
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}

div.meucontainer {
    background-color: darkslategrey;
}